<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.daciosoftware.loteriasdms">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecundaryMenuActivity"
            android:label="@string/title_activity_menu_secundario"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".util.filedialog.FilesListActivity"
            android:label="@string/title_file_dialog"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dezemasmaissorteadas.DezenasMaisSorteadasActivity"
            android:label="@string/title_activity_dezenas_mais_sorteadas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sorteio.SorteioListActivity"
            android:label="@string/title_activity_sorteio_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".processaarquivo.ProcessaArquivoActivity"
            android:label="@string/title_activity_processar_arquivo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".confiraseujogo.ConfiraSeuJogoActivity"
            android:label="@string/title_activity_confira_seu_jogo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".confiraseujogo.ResultadoSeuJogoActivity"
            android:label="@string/title_activity_resultado_seu_jogo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".dezemasmaissorteadas.JogosGeradosActivity"
            android:label="@string/title_activity_gera_jogos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sorteio.SorteioEditActivity"
            android:label="@string/title_activity_sorteio_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".configuracoes.ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dezemasmaissorteadas.DezenasMaisSorteadasFiltroActivity"
            android:label="@string/title_activity_dezenas_mais_sorteadas_filtro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".configuracoes.valoraposta.ValorApostaListActivity"
            android:label="@string/title_activity_valores_aposta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".configuracoes.arquivosresultados.ArquivoResultadoUrlListActivity"
            android:label="@string/title_activity_urls"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".configuracoes.UrlEditActivity"
            android:label="@string/title_activity_web_service_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".notificacao.AgendaServicoBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".notificacao.SorteioService">
            <intent-filter>
                <action android:name="SORTEIO_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".configuracoes.notificacao.NotificacaoEditActivity"
            android:label="@string/title_activity_notificacao_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".notificacao.AtualizaSorteioListActivity"
            android:label="@string/title_activity_atualiza_sorteio"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".configuracoes.valoraposta.ValorApostaEditActivity"
            android:label="@string/title_activity_valor_aposta_edit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>